h1 {
	background-color:#3A6CE6;
	font-size: 40px;
	border-style:solid;
}

h2 {
	margin-left: 1400px;
	margin-top: -74px;
}

footer {
	background-color:#3A6CE6;
	border-style:solid;
}

p1 { font-size: 50px;
	margin-left: 200px;
}

p2 {font-size: 50px;
	margin-left: 200px;
}

p3 {font-size: 50px;
	margin-left: 200px;
}