<html>
<head>
    <title>Message Board</title>
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
            background-color: #eee;
            color: #333;
            max-width: 800px;
            margin: auto;
            padding: 30px;
        }
    </style>
</head>
<body>
    <h1>Reviews</h1>
    {% for review in user_review %}
        <p>{{review.username}}: {{review.review}}</p>
    {% endfor %}

        <h2>Please log in to add a review</h2>
        <a href="/login">Log In</a>
        <a href="/register">Register</a>

        <form method="POST" action="review">
            <input style="width: 500px" type="text" placeholder="enter a message" name="message" />
            <input type="submit" value="submit" />
        </form>
        <a href="/logout">Log out</a>


</body>
</html>>
